:root {
  --primary: #2e4053;
  --bg: #d0d3d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7%;
  background-color: rgb(46, 64, 83);
  border-bottom: 1px solid var(--bg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.as {
  display: none;
}

.navbar .navbar__container h1{
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--bg);
}

.navbar .navbar__toggle a {
  color: var(--bg);
  font-size: 1rem;
  margin: 0 1rem;
  display: inline-block;
}

.navbar .navbar__toggle a:hover {
  color: #d4ac0d;
}

.navbar .navbar__toggle a::after {
  content: "";
  display: block;
  padding-bottom: 4px ;
  border-bottom: 0.1rem solid var(--bg);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar__toggle a:hover::after {
  transform: scaleX(0.5);
}

/*home*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/latar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, var(--bg) 8%, rgba(255, 255, 255, 0) 10%);
}

.hero .hero-content {
  padding: 1.4rem 7%;
  max-width: 45rem;
}

.hero .hero-content h1 {
  font-size: 2.2em;
  color: #000000;
  text-shadow: 1px 1px 3px black;
  line-height: 1;
}

.hero .hero-content .start {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: rgba(34, 40, 49, 0.8);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.hero .hero-content a:hover {
  background-color: black;
  background: linear-gradient(270deg, #d0d3d4 15%, #d4ac0d 85%, #d0d3d4, #d4ac0d);
  color: transparent;
  animation: slide 10s linear infinite;
  background-clip: text;
  transform: scale(1.11);
}

@keyframes slide {
  to {background-position: 100rem}
}

.about {
  padding: 2rem 30rem 0 6rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, var(--bg), #e5e7e9 5%);
}

/*content*/
.content {
  width: 80%;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content-judul h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 0.9rem;
  color: #bbb;
}

.player {
  margin-top: 20px;
}

.episode-select {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 10px;
}

.episode-select select {
  padding: 5px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.episode-select button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.episode-select button:hover {
  background-color: #0056b3;
}

.video-yt {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  /* background-color: #000; */
  /* background-image: url('img/latar.png'); */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.button-s {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-s button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.button-s button:hover {
  background-color: #888;
}

/* .quality-360p {
  background-color: #555;
}

.quality-480p {
  background-color: #0066cc;
}

.quality-720p {
  background-color: #cc3333;
} */

.content .info-judul {
  justify-content: center;
  align-items: center;
  display: flex;
  background: var(--primary);
  border-radius: 3px;
  color: #ffffff;
  padding: 5px 0;
}

.content .info-anime {
  margin-left: 1.3rem;
}


/*contact*/
.footer {
  padding: 1rem 6rem 4rem 6rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  justify-content: space-between; 
}

.footer .fjl {
  font-size: 3em;
  color: #000000;
  line-height: 1;
  float: left;
}

.footer .ftl .ftl-c {
  margin-left: 59rem;
}

.footer .ftl .ftl-c p {
  padding: 3px 0;
}

.footer .ftl .ftl-c p a {
  color: #000000;
  display: grid;
  padding: 3px 0;
}

/*copyright*/
.footer-c {
  background-color: #e5e7e9;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*arrow up*/
.scroll {
  position: fixed;
  right: 5rem;
  bottom: 5px;
  z-index: 9999;
  /*background: rgba(46, 64, 83, 0.7);*/
  padding: 5px 5px 0 5px;
  /*border-radius: 5rem;*/
}

.scroll a {
  color: var(--primary);
}

@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .scroll {
    right: 2rem;
    background: none;
    bottom: 2rem;
  }

  .scroll a {
    color: var(--primary);
  }

  .hero {
    justify-content: center;
  }

  .as {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 7%;
    position: relative;
    margin-top: 5rem;
    border-bottom: 1px solid var(--primary);
  }

  .as .asa a {
    color: var(--primary);
    margin: 0 1rem;
    display: inline-block;
  }

  .as .asa a:hover {
    content: "";
  }

  .as .asa a::after {
    content: "";
    display: block;
    padding-bottom: 2px ;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .as .asa a:hover::after {
    transform: scaleX(0.5);
  }

  .about {
  padding: 2rem 2.8rem 0 1rem;
  }

  .about .about-content h1 {
    font-size: 2.2rem;
  }

  .about .about-content p {
    font-size: 1.4rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 64, 83, 0.98);
    position: fixed;
  }

  .navbar .navbar__container {
    font-size: 3rem !important;
  }

  .navbar .navbar__toggle {
    display: none;
  }

  .footer .ftl .ftl-c {
    font-size: 10px;
    margin-left: 17rem;
  }

}

/*.navbar .navbar__toggle a {*/
/*  color: var(--bg);*/
/*  display: inline-block;*/
/*  font-size: 1.3rem;*/
/*  margin: 0 1rem;*/
/*}*/
/*.navbar .navbar--toggle a:hover {*/
/*  color: #000000;*/
/*}*/
/*.navbar .navbar__toggle a:after {*/
/*  content: "";*/
/*  display: block;*/
/*  padding-bottom: 0.5rem;*/
/*  border-bottom: 0.1rem solid #17202a ;*/
/*  transform: scaleX(0);*/
/*  transition: 0.2s linear;*/
/*}*/

/*::-moz-selection {*/
/*  background: #b3d4fc;*/
/*  text-shadow: none;*/
/*}*/

/*::selection {*/
/*  background: #b3d4fc;*/
/*  text-shadow: none;*/
/*}*/

/*!**/
/* * A better looking default horizontal rule*/
/* *!*/

/*hr {*/
/*  display: block;*/
/*  height: 1px;*/
/*  border: 0;*/
/*  border-top: 1px solid #ccc;*/
/*  margin: 1em 0;*/
/*  padding: 0;*/
/*}*/

/*!**/
/* * Remove the gap between audio, canvas, iframes,*/
/* * images, videos and the bottom of their containers:*/
/* * https://github.com/h5bp/html5-boilerplate/issues/440*/
/* *!*/

/*audio,*/
/*canvas,*/
/*iframe,*/
/*img,*/
/*svg,*/
/*video {*/
/*  vertical-align: middle;*/
/*}*/

/*!**/
/* * Remove default fieldset styles.*/
/* *!*/

/*fieldset {*/
/*  border: 0;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*!**/
/* * Allow only vertical resizing of textareas.*/
/* *!*/

/*textarea {*/
/*  resize: vertical;*/
/*}*/

/*!* ==========================================================================*/
/*   Author's custom styles*/
/*   ========================================================================== *!*/

/*!* ==========================================================================*/
/*   Helper classes*/
/*   ========================================================================== *!*/

/*!**/
/* * Hide visually and from screen readers*/
/* *!*/

/*.hidden,*/
/*[hidden] {*/
/*  display: none !important;*/
/*}*/

/*!**/
/* * Hide only visually, but have it available for screen readers:*/
/* * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility*/
/* **/
/* * 1. For long content, line feeds are not interpreted as spaces and small width*/
/* *    causes content to wrap 1 word per line:*/
/* *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe*/
/* *!*/

/*.visually-hidden {*/
/*  border: 0;*/
/*  clip: rect(0, 0, 0, 0);*/
/*  height: 1px;*/
/*  margin: -1px;*/
/*  overflow: hidden;*/
/*  padding: 0;*/
/*  position: absolute;*/
/*  white-space: nowrap;*/
/*  width: 1px;*/
/*  !* 1 *!*/
/*}*/

/*!**/
/* * Extends the .visually-hidden class to allow the element*/
/* * to be focusable when navigated to via the keyboard:*/
/* * https://www.drupal.org/node/897638*/
/* *!*/

/*.visually-hidden.focusable:active,*/
/*.visually-hidden.focusable:focus {*/
/*  clip: auto;*/
/*  height: auto;*/
/*  margin: 0;*/
/*  overflow: visible;*/
/*  position: static;*/
/*  white-space: inherit;*/
/*  width: auto;*/
/*}*/

/*!**/
/* * Hide visually and from screen readers, but maintain layout*/
/* *!*/

/*.invisible {*/
/*  visibility: hidden;*/
/*}*/

/*!**/
/* * Clearfix: contain floats*/
/* **/
/* * The use of `table` rather than `block` is only necessary if using*/
/* * `::before` to contain the top-margins of child elements.*/
/* *!*/

/*.clearfix::before,*/
/*.clearfix::after {*/
/*  content: "";*/
/*  display: table;*/
/*}*/

/*.clearfix::after {*/
/*  clear: both;*/
/*}*/

/*!* ==========================================================================*/
/*   EXAMPLE Media Queries for Responsive Design.*/
/*   These examples override the primary ('mobile first') styles.*/
/*   Modify as content requires.*/
/*   ========================================================================== *!*/

/*@media only screen and (min-width: 35em) {*/
/*  !* Style adjustments for viewports that meet the condition *!*/
/*}*/

/*@media print,*/
/*  (-webkit-min-device-pixel-ratio: 1.25),*/
/*  (min-resolution: 1.25dppx),*/
/*  (min-resolution: 120dpi) {*/
/*  !* Style adjustments for high resolution devices *!*/
/*}*/

/*!* ==========================================================================*/
/*   Print styles.*/
/*   Inlined to avoid the additional HTTP request:*/
/*   https://www.phpied.com/delay-loading-your-print-css/*/
/*   ========================================================================== *!*/

/*@media print {*/
/*  *,*/
/*  *::before,*/
/*  *::after {*/
/*    background: #fff !important;*/
/*    color: #000 !important;*/
/*    !* Black prints faster *!*/
/*    box-shadow: none !important;*/
/*    text-shadow: none !important;*/
/*  }*/

/*  .navbar .nabvar__tonggle {*/
/*    display: none !important;*/
/*  }*/

/*  a,*/
/*  a:visited {*/
/*    text-decoration: underline;*/
/*  }*/

/*  a[href]::after {*/
/*    content: " (" attr(href) ")";*/
/*  }*/

/*  abbr[title]::after {*/
/*    content: " (" attr(title) ")";*/
/*  }*/

/*  !**/
/*   * Don't show links that are fragment identifiers,*/
/*   * or use the `javascript:` pseudo protocol*/
/*   *!*/
/*  a[href^="#"]::after,*/
/*  a[href^="javascript:"]::after {*/
/*    content: "";*/
/*  }*/

/*  pre {*/
/*    white-space: pre-wrap !important;*/
/*  }*/

/*  pre,*/
/*  blockquote {*/
/*    border: 1px solid #999;*/
/*    page-break-inside: avoid;*/
/*  }*/

/*  tr,*/
/*  img {*/
/*    page-break-inside: avoid;*/
/*  }*/

/*  p,*/
/*  h2,*/
/*  h3 {*/
/*    orphans: 3;*/
/*    widows: 3;*/
/*  }*/

/*  h2,*/
/*  h3 {*/
/*    page-break-after: avoid;*/
/*  }*/
/*}*/

